fastapi
uvicorn
pymongo
python-dotenv
bcrypt
pydantic
pydantic-email-validator
openpyxl
python-docx
xgboost
scikit-learn
numpy
pandas
slowapi
email-validator
python-multipart
PyJWT
requests
starlette
httpx
pytest
pytest-cov
pytest-asyncio
rq
redis
